In [2]:
from sklearn_extra.cluster import KMedoids
from sklearn.metrics import silhouette_samples, silhouette_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import csv

In [3]:
pandas = pd
data = "D:/coding/brand2.csv"
gaikindo = pd.read_csv(data)
gaikindo.head()

    BRAND  TOTAL2021
0  0.0952     0.3106
1  0.3810     0.0101
2  0.5238     0.0070
3  0.0000     1.0000
4  1.0000     0.0000

In [4]:
gaikindo.tail()

     BRAND  TOTAL2021
17  0.1905     0.1327
18  0.7619     0.0012
19  0.2381     0.0871
20  0.8095     0.0009
21  0.8571     0.0008

In [5]:
gaikindo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BRAND      22 non-null     float64
 1   TOTAL2021  22 non-null     float64
dtypes: float64(2)
memory usage: 480.0 bytes

In [6]:
gaikindo_x = gaikindo.iloc[:, 0:2]
gaikindo_x.head()

    BRAND  TOTAL2021
0  0.0952     0.3106
1  0.3810     0.0101
2  0.5238     0.0070
3  0.0000     1.0000
4  1.0000     0.0000

In [7]:
x_array = np.asarray(gaikindo_x)
print(x_array)

[[9.520e-02 3.106e-01]
 [3.810e-01 1.010e-02]
 [5.238e-01 7.000e-03]
 [0.000e+00 1.000e+00]
 [1.000e+00 0.000e+00]
 [4.762e-01 8.000e-03]
 [6.190e-01 3.200e-03]
 [2.857e-01 1.140e-02]
 [4.760e-02 4.212e-01]
 [6.667e-01 2.100e-03]
 [9.048e-01 4.000e-04]
 [4.286e-01 9.300e-03]
 [5.714e-01 3.500e-03]
 [7.143e-01 2.100e-03]
 [1.429e-01 2.710e-01]
 [3.333e-01 1.070e-02]
 [9.524e-01 0.000e+00]
 [1.905e-01 1.327e-01]
 [7.619e-01 1.200e-03]
 [2.381e-01 8.710e-02]
 [8.095e-01 9.000e-04]
 [8.571e-01 8.000e-04]]

In [8]:
#scaler = MinMaxScaler()
#x_scaled = scaler.fit_transform(x_array)
#x_scaled

In [9]:
kmedoids = KMedoids(n_clusters=2, metric="chebyshev", init='heuristic', max_iter=2).fit(x_array)

In [10]:
kmedoids.labels_

array([1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0],
      dtype=int64)

In [11]:
kmedoids.cluster_centers_

array([[0.7619, 0.0012],
       [0.2381, 0.0871]])

In [12]:
gaikindo["Cluster"] = kmedoids.labels_
print(gaikindo)

     BRAND  TOTAL2021  Cluster
0   0.0952     0.3106        1
1   0.3810     0.0101        1
2   0.5238     0.0070        0
3   0.0000     1.0000        1
4   1.0000     0.0000        0
5   0.4762     0.0080        1
6   0.6190     0.0032        0
7   0.2857     0.0114        1
8   0.0476     0.4212        1
9   0.6667     0.0021        0
10  0.9048     0.0004        0
11  0.4286     0.0093        1
12  0.5714     0.0035        0
13  0.7143     0.0021        0
14  0.1429     0.2710        1
15  0.3333     0.0107        1
16  0.9524     0.0000        0
17  0.1905     0.1327        1
18  0.7619     0.0012        0
19  0.2381     0.0871        1
20  0.8095     0.0009        0
21  0.8571     0.0008        0

In [13]:
silhouette_score(gaikindo, kmedoids.labels_)

0.7670626160372307

In [14]:
gaikindo.to_csv("D:/coding/Chebyshev_Brand2_result.csv", index= False)