In [1]:
#import library algoritma yang diperlukan
from sklearn_extra.cluster import KMedoids
from sklearn.metrics import silhouette_samples, silhouette_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import csv

In [2]:
#memanggil data dengan format csv
data = "D:/coding/category2.csv"
gaikindo = pd.read_csv(data)
gaikindo.head()

   CATEGORY  TOTAL2021
0         4       5647
1         1     503520
2         5       4119
3         3      13476
4         2     146520

In [3]:
#melihat type data
gaikindo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORY   5 non-null      int64
 1   TOTAL2021  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [4]:
#memilih kolom yang akan digunakan
gaikindo_x = gaikindo.iloc[:, 0:2]
gaikindo_x.head()

   CATEGORY  TOTAL2021
0         4       5647
1         1     503520
2         5       4119
3         3      13476
4         2     146520

In [5]:
#mengubah data ke dalam bentuk array
x_array = np.asarray(gaikindo_x)
print(x_array)

[[     4   5647]
 [     1 503520]
 [     5   4119]
 [     3  13476]
 [     2 146520]]

In [6]:
#normalisasi data dengan min-max normalization
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(x_array)
x_scaled

array([[0.75      , 0.00305967],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.5       , 0.01873645],
       [0.25      , 0.2851436 ]])

In [7]:
#proses perhitungan clustering menggunakan euclidean distance
kmedoids = KMedoids(n_clusters=2, metric="euclidean", init='heuristic', max_iter=3).fit(x_scaled)

In [8]:
#melihat label hasil clustering
kmedoids.labels_

array([1, 0, 1, 1, 0], dtype=int64)

In [9]:
#melihat medoid yang digunakan
kmedoids.cluster_centers_

array([[0.25      , 0.2851436 ],
       [0.75      , 0.00305967]])

In [10]:
#hasil cluster
gaikindo["Cluster"] = kmedoids.labels_
print(gaikindo)

   CATEGORY  TOTAL2021  Cluster
0         4       5647        1
1         1     503520        0
2         5       4119        1
3         3      13476        1
4         2     146520        0

In [11]:
#validasi silhouette coefficient
silhouette_score(gaikindo, kmedoids.labels_)

0.5218879587966514

In [13]:
gaikindo.to_csv("D:/coding/Euclidean_Category_result2.csv", index= False)

In [67]:
#plt.scatter(gaikindo.CATEGORY, gaikindo.TOTAL2021,  c = "blue")
#plt.show()