In [1]:
from sklearn_extra.cluster import KMedoids
from sklearn.metrics import silhouette_samples, silhouette_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import csv

In [2]:
data = "D:/coding/Trans.csv"
gaikindo = pd.read_csv(data)
gaikindo.head()

   TRANS  TOTAL2021
0    0.5     0.9395
1    0.0     1.0000
2    1.0     0.0000

In [3]:
gaikindo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TRANS      3 non-null      float64
 1   TOTAL2021  3 non-null      float64
dtypes: float64(2)
memory usage: 176.0 bytes

In [4]:
gaikindo_x = gaikindo.iloc[:, 0:2]
gaikindo_x.head()

   TRANS  TOTAL2021
0    0.5     0.9395
1    0.0     1.0000
2    1.0     0.0000

In [5]:
x_array = np.asarray(gaikindo_x)
print(x_array)

[[0.5    0.9395]
 [0.     1.    ]
 [1.     0.    ]]

In [6]:
kmedoids = KMedoids(n_clusters=2, random_state=123, metric="euclidean",init='heuristic', max_iter=1).fit(x_array)

In [7]:
kmedoids.labels_

array([0, 1, 0], dtype=int64)

In [8]:
kmedoids.cluster_centers_

array([[0.5   , 0.9395],
       [0.    , 1.    ]])

In [9]:
gaikindo["Cluster"] = kmedoids.labels_
print(gaikindo)

   TRANS  TOTAL2021  Cluster
0    0.5     0.9395        0
1    0.0     1.0000        1
2    1.0     0.0000        0

In [10]:
silhouette_score(gaikindo, kmedoids.labels_)

0.14500973880709747

In [11]:
gaikindo.to_csv("D:/coding/Euclidean_Trans_result.csv", index= False)